
@{
    ViewBag.Title = "Result";
}
	<head>
		<link rel="stylesheet" href="@Url.Content("~/Content/mystyle.css")" />

	</head>

<h1>Result</h1>

<h3>Your Score is @Session["count"] out of @Session["ttl"]</h3>