@{
    ViewBag.Title = "About";
}
	<head>
		<link rel="stylesheet" href="@Url.Content("~/Content/mystyle.css")" />

	</head>
<center>
    <h1 style="color:green">
        We Are Here To Make Quality Education Available For Everyone. 
    </h1>
</center>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
    <h4>Created By:</h4>
    <h4>Dhaval Katariya</h4>
    <h4>Hetvi Joshi</h4>
