@{
    ViewBag.Title = "Contact";
}
	<head>
		<link rel="stylesheet" href="@Url.Content("~/Content/mystyle.css")" />

	</head>
<h2>Feel Free to Contact US Regarding Any Queries or Suggestions.</h2>

<br />
<br />

<address>
    <strong>Dhaval Katariya:</strong>   <a href="katariyadhaval84@gmail.com">katariyadhaval84@gmail.com</a><br />
    <strong>Hetvi Joshi:</strong> <a href="hsjoshi2017@gmail.com">hsjoshi2017@gmail.com</a>
</address>